.u-section-1 .u-sheet-1 {
  min-height: 458px;
}

.u-section-1 .u-form-1 {
  height: 348px;
  margin: 55px 201px 55px 257px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-left: 157px;
    margin-right: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 38px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }
}