
body {
	margin-top:50px;
	 text-align:center;
}
.boton{
	padding: 18px;
	background-color: #00d5c2;
	border: none;
	padding: 15px; 
	color: white;
	margin-right: 30px;
	margin-top: 30px;
	
	
}
.boton2{
	padding: 18px;
	background-color: #d64646;
	border: none;
	padding: 15px; 
	color: white;
	margin-right: 30px;
	margin-top: 30px;
	
}